<div class="jumbotron hidden">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Here's our very cool photo gallery app</h4>

  <img ng-src="{{ mainImage.src }}" alt="{{ image.name }}" />

  <div ng-repeat="image in galleryImages">
    <img ng-src="{{ image.src }}"
         ng-class="{'active-thumbnail': isActiveThumbnail(image.id)}"
         ng-click="updateMainImage(image.id)"
         width="90"
         alt="{{ image.name }}" />
  </div>
</div>
